/*! purgecss start ignore */
@tailwind base;

h1 {
    @apply text-2xl;
    @apply mb-4;
  }
  h2 {
    @apply text-xl;
    @apply mb-3;
  }
  h3 {
    @apply text-lg;
  }

  .card{
    min-width: 22rem;
  }

  .btn      { @apply flex items-center justify-center w-48 h-16 px-8 py-2 text-lg bg-teal-500 border-0 rounded-full text-custom-offWhite;}
  .btn:focus{ @apply outline-none; }
  .btn:hover{ @apply bg-teal-600; }

  
  @media only screen and (min-width: 768px) {
    
    .cardContainer:nth-child(even) #imageWrapper{ align-items: flex-end;}
    .cardContainer:nth-child(even) #cardText{padding-left: 3rem; padding-right: 14rem;}
    .cardContainer:nth-child(even) #cardImage{margin-left: 0rem; margin-right: -4rem;}
  }
  


@tailwind components;
/*! purgecss end ignore */

@tailwind utilities;

/* @font-face {
    font-family: 'Circular' ;
    src: url(/src/fonts/Circular/CircularStd-Black.otf);
  }
  @font-face {
    font-family: 'Circular';
    src: url(/src/fonts/Circular/CircularStd-Medium.otf);
  } */



  body {
    font-family: 'Circular-Book';
}

/* Scrollbar for the card containers */

#cardContainer::-webkit-scrollbar {
  width: 12px;
}

#cardContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

#cardContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.5); 
}